h1 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 60px;
  font-size: 24px;
}

mat-form-field {
  width: calc(100% - 40px);
  padding: 0 20px;
}

button {
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;
  background: #673ab7;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
  font-size: 18px;
  text-transform: lowercase;
  transition: .1s all linear;
  cursor: pointer;
}

button:hover {
  background: #9a6dea;
}

.form {
  margin: 10px 0;
  float: left;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.form.form-60 {
  width: calc(60vw - 20px);
}

.form.form-40 {
  width: calc(40vw - 20px);
  height: 500px;
}

.form-60 button {
  float: right;
  margin-right: 30px;
}

.form-40 button {
  position: absolute;
  bottom: 0;
  left: calc(((40vw - 20px) - 100px) / 2);
}

.form-40 h1 {
  padding: 0 20px;
}

.header {
  width: calc(100% - 40px);
  height: 60px;
  padding: 0 20px;
}

.header > *:first-child {
  float: left;
}

.header > *:last-child {
  float: right;
}

.vertical-hr {
  border-right: 1px solid #000;
  height: calc(100vh - 10px);
  float: left;
}

.city-container {
  max-height: 400px;
  overflow: auto;
}

.city-list {
  width: calc(100% - 40px);
  height: 22px;
  padding: 5px 20px;
}

.city-list i {
  width: 22px;
  height: 22px;
  font-size: 20px;
  text-align: center;
  line-height: 22px;
  color: #696969;
  border-radius: 50%;
  transition: .1s all linear;
  cursor: pointer;
}

.city-list p {
  color: #696969;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.city-list i:hover {
  background: #9a6dea;
  color: #fff;
}

.city-list > *:first-child {
  float: left;
}

.city-list > *:last-child {
  float: right;
}
