<div class="form form-60">
  <div class="header">
    <h1>
      Oblast: {{data.oblast}}
    </h1>
    <h1>
      Vreme: {{convertTime(timer)}}
    </h1>
  </div>
  <div>
    <mat-form-field>
     <input type="text" matInput placeholder="Izaberi grad" [formControl]="myControl"  [matAutocomplete]="auto" [(ngModel)]="city">
     <mat-autocomplete  #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
         {{ option }}
      </mat-option>
     </mat-autocomplete>
    </mat-form-field>
  </div>
  <button (click)="choseCity()">
    Dodaj u Listu
  </button>
</div>
<div class="vertical-hr"></div>
<div class="form form-40">
  <h1>Lista ubacenih gradova</h1>
  <div class="city-container">
    <div *ngFor="let choice of chosen; index as i" class="city-list">
      <p>
        {{choice}}
      </p>
      <i class="material-icons" (click)="deleteCity(i)">close</i>
    </div>
  </div>
  <button (click)="finishGame()">
    zavrsi igru
  </button>
</div>
