.outer-chart {
  width: 70%;
  margin: 0 auto;
  border: 3px solid #696969;
  padding: 5px;
  height: 100px;
  position: relative;
}
 .inner-chart {
   transition: 5s all ease-in-out;
   width: 0;
   background: #4caf50;
   height: 100%;
 }

 h1, h2 {
   font-family: 'Roboto Condensed', 'Roboto', sans-serif;
 }

 h2 {
   text-align: center;
   margin-bottom: 5px;
 }
